
@{
    ViewBag.Title = "Tests";
}

<div class="jumbotron catalog-jumbo">
    <div class="container catalog-call-to-action">
        <h2 class="catalog-header">TESTS</h2>
        <p>At Northwest Labs we provide industry leading assay tests for any lab or pharmaceutical needs. Our analyses are in-depth and will provide you the information you need</p>
        <a href="#catalogTiles" class="btn-carousel catalog-call pull-right">Check it out!</a>
    </div>
</div>
<!--Catalog tile stack-->
<div class="container-fluid test-tile-container" id="catalogTiles">
    <div class="container test-tile-wrapper">
        <div class="row test-tile-row">
            <div class="test-tile-content col-md-4">
                <div class="test-tile" onclick="document.location.href='#';">
                    <img class="test-tile-img" src="~/Content/images/results2.jpg" />
                    <div class="test-tile-information">
                        <p class="test-tile-header">Biochemical Pharmacology (BP)</p>
                        <p class="test-tile-details">Our bread and butter! This increasingly popular test is fit for any compound you might have.</p>
                    </div>
                </div>
            </div>
            <div class="test-tile-content col-md-4">
                <div class="test-tile" onclick="document.location.href='#';">
                    <img class="test-tile-img" src="~/Content/images/chemicalMakeup.jpg" />
                    <div class="test-tile-information">
                        <p class="test-tile-header">DiscoveryScreen® (DS)</p>
                        <p class="test-tile-details">Information is key. With over 99.8% accuracy our DiscoveryScreen dives deep into a compound to give you unrivaled details.</p>
                    </div>
                </div>
            </div>
            <div class="test-tile-content col-md-4">
                <div class="test-tile" onclick="document.location.href='#';">
                    <img class="test-tile-img" src="~/Content/images/beakers.jpg" />
                    <div class="test-tile-information">
                        <p class="test-tile-header">ImmunoScreen® (IS)</p>
                        <p class="test-tile-details">Immunizations play a leading role in todays medical world. ImmunoScreen is tailored toward these necessary compounds</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row test-tile-row">
            <div class="test-tile-content col-md-4">
                <div class="test-tile" onclick="document.location.href='#';">
                    <img class="test-tile-img" src="~/Content/images/testTubes.jpg" />
                    <div class="test-tile-information">
                        <p class="test-tile-header">ProfilingScreen® (PF)</p>
                        <p class="test-tile-details">Find out how your compounds act, react, and behave in a variety of situations. The CSI of pharmaceuticals!</p>
                    </div>
                </div>
            </div>
            <div class="test-tile-content col-md-4">
                <div class="test-tile" onclick="document.location.href='#';">
                    <img class="test-tile-img" src="~/Content/images/pills.jpg" />
                    <div class="test-tile-information">
                        <p class="test-tile-header">PharmaScreen® (PS)</p>
                        <p class="test-tile-details">Pills, capusules, and tablets. PharmaScreen gives OTC compounds the examination you want.</p>
                    </div>
                </div>
            </div>
            <div class="test-tile-content col-md-4">
                <div class="test-tile" onclick="document.location.href='#';">
                    <img class="test-tile-img" src="~/Content/images/microscope.jpg" />
                    <div class="test-tile-information">
                        <p class="test-tile-header">CustomScreen™ (CS)</p>
                        <p class="test-tile-details">You're in control! Your compound, our expertise. This is the ultimate "build-a-test" for any results you need.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>